# ===== Build output =====
**/target/
**/build/

# ===== Env / secrets =====
.env

# ===== IDEs =====
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/java-formatter.xml


### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ===== Logs =====
*.log

# ===== OS junk =====
.DS_Store
Thumbs.db

notes.txt
setup_env.sh
*testDBConnection